<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/member_add_act" method="post">
		<table border="1">
			<tr>
				<th>사번</th>
				<td>자동생성</td>
			</tr>
			
			<tr>
				<th>이름</th>
				<td><input type="text" name="m_name"/></td>
			</tr>
			
			<tr>
				<th>전화번호</th>
				<td><input type="text" name="tel"/></td>
			</tr>
			
			<tr>
				<th>이메일</th>
				<td><input type="text" name="email"/></td>
			</tr>
			
			<tr>
				<td><input type="submit" value="가입"/></td>
			</tr>
		</table>
	</form>
</body>
</html>